---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: mirror.gcr.io/vikunja/vikunja
              tag: 0.24.6@sha256:ed1f3ed467fecec0b57e9de7bc6607f8bbcbb23ffced6a81f5dfefc794cdbe3b
            env:
              # Proper shell path for cli
              PATH: /app/vikunja:$${PATH}
              VIKUNJA_SERVICE_PUBLICURL: https://vikunja.${SECRET_DOMAIN}
              VIKUNJA_SERVICE_TIMEZONE: "${TZ}"
              POSTGRES_ENABLED: "true"
              VIKUNJA_MAILER_ENABLED: true
              VIKUNJA_METRICS_ENABLED: true
              VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME: true
              VIKUNJA_DEFAULTSETTINGS_EMAIL_REMINDERS_ENABLED: true
              discoverable_by_email: true
              overdue_tasks_reminders_time: "11:00"
              VIKUNJA_DEFAULTSETTINGS_WEEK_START: 1

              # Redis
              VIKUNJA_REDIS_ENABLED: true
              VIKUNJA_REDIS_HOST: dragonfly.database.svc.cluster.local:6379
              VIKUNJA_REDIS_DB: 5
              VIKUNJA_KEYVALUE_TYPE: redis

              # SMTP
              VIKUNJA_MAILER_HOST: smtp.${SECRET_DOMAIN}
              VIKUNJA_MAILER_PORT: 465
              VIKUNJA_MAILER_FORCESSL: "true"
              VIKUNJA_MAILER_USERNAME: *app
              VIKUNJA_MAILER_FROMEMAIL: Vikunja <${APP}@${SECRET_DOMAIN}>
              VIKUNJA_MAILER_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: ${APP}-migadu
                    key: password

              # postgres
              VIKUNJA_DATABASE_TYPE: postgres
              VIKUNJA_DATABASE_HOST: postgres-rw.postgres.svc
              VIKUNJA_DATABASE_SSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              VIKUNJA_DATABASE_SSLCERT: /var/run/secrets/postgresql/tls.crt
              VIKUNJA_DATABASE_SSLKEY: /var/run/secrets/postgresql/tls.key
              VIKUNJA_DATABASE_SSLMODE: verify-full
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 3456
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 20Mi
              limits:
                memory: 150Mi

        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault

    service:
      main:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

    persistence:
      files:
        existingClaim: *app
        globalMounts:
          - path: /app/vikunja/files

      config:
        type: secret
        name: vikunja-config
        globalMounts:
          - path: /etc/vikunja/config.yml
            subPath: config.yaml