---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
    name: flux-instance
spec:
    interval: 5m
    layerSelector:
        mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
        operation: copy
    ref:
        tag: 0.33.0
    url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
    verify:
        provider: cosign
        matchOIDCIdentity:
            - issuer: "^https://token.actions.githubusercontent.com$"
              subject: "^https://github.com/controlplaneio-fluxcd/charts.*$"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: &app flux-instance
spec:
    chartRef:
        kind: OCIRepository
        name: *app
    interval: 1h
    values:
        instance:
            distribution:
                artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.33.0
                version: 2.x
            cluster:
                networkPolicy: false
            components:
                - source-controller
                - kustomize-controller
                - helm-controller
                - notification-controller
            sync:
                kind: GitRepository
                #    url: "ssh://git@github.com/m00nwtchr/homelab-cluster.git"
                url: "ssh://git@forgejo-ssh.gitea.svc.cluster.local/m00n/homelab-cluster.git"
                pullSecret: deploy-key
                ref: "refs/heads/master"
                path: kubernetes/flux/cluster
                interval: 1h
            kustomize:
                patches:
                    - # Git commit verification
                      patch: |-
                          - op: add
                            path: /spec/verify
                            value:
                              mode: HEAD
                              secretRef:
                                name: pgp-public-keys
                      target:
                          kind: GitRepository
                          name: flux-system
                    - # Increase the number of workers
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --concurrent=10
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --requeue-dependency=5s
                      target:
                          kind: Deployment
                          name: (kustomize-controller|helm-controller|source-controller)
                    - # Increase the memory limits
                      patch: |-
                          apiVersion: apps/v1
                          kind: Deployment
                          metadata:
                            name: all
                          spec:
                            template:
                              spec:
                                containers:
                                  - name: manager
                                    resources:
                                      limits:
                                        memory: 2Gi
                      target:
                          kind: Deployment
                          name: (kustomize-controller|helm-controller|source-controller)
                    - # Enable in-memory kustomize builds
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --concurrent=20
                          - op: replace
                            path: /spec/template/spec/volumes/0
                            value:
                              name: temp
                              emptyDir:
                                medium: Memory
                      target:
                          kind: Deployment
                          name: kustomize-controller
                    - # Enable Helm repositories caching
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --helm-cache-max-size=10
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --helm-cache-ttl=60m
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --helm-cache-purge-interval=5m
                      target:
                          kind: Deployment
                          name: source-controller
                    - # Flux near OOM detection for Helm
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --feature-gates=OOMWatch=true
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --oom-watch-memory-threshold=95
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --oom-watch-interval=500ms
                      target:
                          kind: Deployment
                          name: helm-controller
                    - # Disable chart digest tracking
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --feature-gates=DisableChartDigestTracking=true
                      target:
                          kind: Deployment
                          name: helm-controller
                    - # Controller-level SOPS decryption
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --sops-age-secret=sops-age-secret
                      target:
                          kind: Deployment
                          name: kustomize-controller
                    - # Watch configmaps and secrets attached to HelmReleases and Kustomizations
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --watch-configs-label-selector=owner!=helm
                      target:
                          kind: Deployment
                          name: (helm-controller|kustomize-controller)
                    - # Cancel health checks on new Kustomizations revisions
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --feature-gates=CancelHealthCheckOnNewRevision=true
                      target:
                          kind: Deployment
                          name: kustomize-controller
                    - # Cancel health checks on new Kustomizations revisions
                      patch: |-
                          - op: add
                            path: /spec/template/spec/containers/0/args/-
                            value: --feature-gates=CancelHealthCheckOnNewRevision=true
                      target:
                          kind: Deployment
                          name: kustomize-controller
