---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-sidecar-provider
data:
  provider.yaml: |-
    apiVersion: 1
    providers:
      - name: sidecar
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: false
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: true
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/rbac.authorization.k8s.io/clusterrole_v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: grafana-sidecar-provider
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - get
      - watch
      - list
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/rbac.authorization.k8s.io/clusterrolebinding_v1.json
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: grafana-sidecar-provider
roleRef:
  kind: ClusterRole
  name: grafana-sidecar-provider
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: grafana-sa
    namespace: monitoring
