---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vaultwarden
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }
        containers:
          app:
            image:
              repository: vaultwarden/server
              tag: 1.34.3@sha256:84fd8a47f58d79a1ad824c27be0a9492750c0fa5216b35c749863093bfa3c3d7
            env:
              DOMAIN: https://${APP}.${SECRET_DOMAIN}
              TZ: ${TZ}
              SIGNUPS_ALLOWED: false
              INVITATIONS_ALLOWED: false
              WEBSOCKET_ENABLED: true
              #              SMTP_PORT: 465
              #              SMTP_FROM: admin@${SECRET_DOMAIN}
              #              SMTP_SECURITY: force_tls
              ROCKET_ADDRESS: "::"
              ROCKET_PORT: &port 8080
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-postgres"
                    key: url

              SSO_ENABLED: true
              SSO_ONLY: true
              SSO_AUTHORITY: https://idm.${SECRET_DOMAIN}/oauth2/openid/${APP}
              SSO_CLIENT_ID: *app
              SSO_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: kanidm-${APP}-oidc
                    key: client-secret
            envFrom:
              - secretRef:
                  name: *app
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 200Mi
              limits:
                memory: 500Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
          - name: internal
            namespace: network
            sectionName: https

    persistence:
      data:
        existingClaim: *app
