---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 2999
        runAsGroup: 2999
        fsGroup: 2999
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

    controllers:
      ollama:
        containers:
          app:
            image:
              repository: ollama/ollama
              tag: 0.14.2@sha256:44893537fcc6f100b70ceb7f5c9fd8f787ba58f9f8ce73bf4a48a5b05fd8c422
            env:
              TZ: "${TZ}"
              OLLAMA_HOST: "::"
              # OLLAMA_ORIGINS: ""
              # OLLAMA_KEEP_ALIVE: "24h"
              # OLLAMA_LOAD_TIMEOUT: "600"
              OLLAMA_FLASH_ATTENTION: "true"
              OLLAMA_KV_CACHE_TYPE: q8_0
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 200m
                memory: 2Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
            targetPort: 11434

    route:
      main:
        enabled: true
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80

    persistence:
      data:
        size: 10Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /.ollama
