---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: &app freshrss
spec:
    interval: 1h
    chartRef:
        kind: OCIRepository
        name: app-template
        namespace: flux-system
    values:
        defaultPodOptions:
            securityContext:
                #        runAsUser: 1000
                #        runAsGroup: 1000
                #        #          runAsNonRoot: true
                fsGroup: 33
                fsGroupChangePolicy: "OnRootMismatch"

        controllers:
            freshrss:
                containers:
                    app:
                        image:
                            repository: freshrss/freshrss
                            tag: 1.27.1@sha256:9a56be99f3927cc8fab4c6bbd5723ae098824792d4d98a84007a95eb64e8f905
                        env:
                            TZ: "${TZ}"
                            CRON_MIN: 18,48
                            DOMAIN: "https://${APP}.svc.${SECRET_DOMAIN}"
                            OIDC_ENABLED: 1
                            OIDC_PROVIDER_METADATA_URL: https://idm.${SECRET_DOMAIN}/oauth2/openid/${APP}/.well-known/openid-configuration
                            OIDC_CLIENT_ID: *app
                            OIDC_CLIENT_SECRET:
                                valueFrom:
                                    secretKeyRef:
                                        name: kanidm-${APP}-oidc
                                        key: client-secret
                            OIDC_REMOTE_USER_CLAIM: preferred_username
                            OIDC_SCOPES: openid groups email profile
                            OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto

                        #            envFrom:
                        #              - secretRef:
                        #                  name: freshrss-secret
                        resources:
                            requests:
                                cpu: 50m
                                memory: 256Mi
        service:
            app:
                controller: *app
                ports:
                    http:
                        port: 80

        route:
            app:
                hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
                annotations:
                    gethomepage.dev/enabled: "true"
                    gethomepage.dev/group: Home
                    gethomepage.dev/name: FreshRSS
                    gethomepage.dev/icon: freshrss.svg
                parentRefs:
                    - name: internal
                      namespace: network
                      sectionName: https
                rules:
                    - backendRefs:
                          - identifier: app
                            port: 80

        persistence:
            config:
                existingClaim: *app
                globalMounts:
                    - path: /var/www/FreshRSS/data
