---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: &app mautrix-discord
spec:
    interval: 1h
    chartRef:
        kind: OCIRepository
        name: app-template
        namespace: flux-system
    values:
        defaultPodOptions:
            securityContext:
                seccompProfile:
                    type: RuntimeDefault

        controllers:
            main:
                type: statefulset
                annotations:
                    reloader.stakater.com/auto: "true"

                pod:
                    securityContext:
                        runAsUser: 1337
                        runAsGroup: 1337
                        runAsNonRoot: true
                        fsGroup: 1337
                        fsGroupChangePolicy: "OnRootMismatch"

                containers:
                    app:
                        image:
                            repository: dock.mau.dev/mautrix/discord
                            tag: v0.7.5@sha256:898c6c59d65b49cb408f0bd23d6be720bd85c81164a775760fbfc9d6fd2c501e
                        command: ["/usr/bin/${APP}"]
                        args: ["-c", "/config/config.yaml", "--no-update"]
                        probes:
                            liveness: &probe
                                enabled: true
                                custom: true
                                spec:
                                    httpGet:
                                        path: /_matrix/mau/live
                                        port: &port 8000
                                    initialDelaySeconds: 0
                                    periodSeconds: 10
                                    timeoutSeconds: 1
                                    failureThreshold: 3
                            readiness:
                                <<: *probe
                                spec:
                                    httpGet:
                                        path: /_matrix/mau/ready
                                        port: *port
                        resources:
                            limits:
                                # cpu: 50M
                                memory: 256Gi
                            requests:
                                cpu: 50m
                                memory: 128Mi
                        securityContext:
                            capabilities:
                                drop:
                                    - ALL

        service:
            app:
                controller: main
                publishNotReadyAddresses: true
                ports:
                    http:
                        port: 80
                        targetPort: *port

        route:
            app:
                hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
                parentRefs:
                    - name: external
                      namespace: network
                      sectionName: https
                rules:
                    - backendRefs:
                          - identifier: app
                            port: 80

        persistence:
            config:
                type: secret
                name: ${APP}-config
                globalMounts:
                    - path: /config/config.yaml
                      subPath: config.yaml
