---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rclone-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: docker.io/rclone/rclone
              tag: 1.72.0@sha256:0eb18825ac9732c21c11d654007170572bbd495352bb6dbb624f18e4f462c496
            args:
              - serve
              - restic
              - -v
              - --addr
              - :8080
              - mega:backups
              - --config
              - /config/rclone.conf
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: 8080

    persistence:
      config:
        type: secret
        name: rclone-config
        globalMounts:
          - path: /config/rclone.conf
            subPath: rclone.conf
