---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        replicas: 2

        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
          surge: 1

        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.28.1@sha256:e9af552da2b0849f9b3b48ae3169acb2696fdf0ddc65df52e4025c9deef04a60
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /app/blocky
                      - healthcheck
              startup: *probe
              readiness: *probe
            resources:
              limits:
                cpu: 1
                memory: 420Mi
              requests:
                cpu: 50m
                memory: 250Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                  - NET_BIND_SERVICE
                drop:
                  - ALL
              readOnlyRootFilesystem: true

    defaultPodOptions:
      securityContext:
        fsGroup: 568
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
        seccompProfile:
          type: RuntimeDefault
      shareProcessNamespace: true

    persistence:
      config:
        type: configMap
        name: blocky-configmap
        globalMounts:
          - path: /app/config.yml
            subPath: config.yaml

    service:
      app:
        forceRename: *app
        controller: *app
        type: LoadBalancer
        ipFamilyPolicy: PreferDualStack
        annotations:
          metallb.io/loadBalancerIPs: 'fd42:78a5:2c09::53,192.168.0.53'
          lbipam.cilium.io/ips: 'fd42:78a5:2c09::53,192.168.0.53'
        ports: &ports
          http:
            primary: true
            port: 80
            targetPort: 4000
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP

      internal:
        controller: *app
        clusterIP: "2001:cafe:43::c"
        ports:
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP

      ts:
        controller: *app
        type: LoadBalancer
        loadBalancerClass: tailscale
        ipFamilyPolicy: PreferDualStack
        # ipFamilies: [IPv4]
        annotations:
          tailscale.com/hostname: *app
          tailscale.com/proxy-group: ingress-proxy
        ports: *ports

    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

#    route:
#      app:
#        hostnames: [ "{{ .Release.Name }}.${SECRET_DOMAIN}" ]
#        parentRefs:
#          - name: external
#            namespace: network
#            sectionName: https
#        rules:
#          - backendRefs:
#              - identifier: http
#                port: 4000
