---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 80.13.3
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    crds:
      enabled: true
      upgradeJob:
        enabled: true
        forceConflicts: true
        image:
          busybox:
            registry: ghcr.io
            repository: home-operations/busybox
            tag: "1.37.0@sha256:026ed7273270ec08f6902b4ae8334c23b473e5394bec3bbbdbfe580c710d50bc"
            sha: ""
            pullPolicy: IfNotPresent
    cleanPrometheusOperatorObjectNames: true

    defaultRules:
      create: false

    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana

    prometheusOperator:
      enabled: false

    alertmanager:
      enabled: false

    kubernetesServiceMonitors:
      enabled: true

    kubeControllerManager:
      enabled: false
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: true
    kubeApiServer:
      enabled: false
    coreDns:
      enabled: false

    prometheus:
      enabled: false

    kubeStateMetrics:
      enabled: false
    nodeExporter:
      enabled: false
