---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bitwarden
  namespace: external-secrets
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 769
        runAsGroup: 769
        runAsNonRoot: true

    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/m00nwtchr/bw
              tag: 2025.12.0@sha256:0f00b04a39f4ce2756036d467cd6032e3c78ea65337c785edd0cd4c1bae45fdb
            env:
              BW_HOST: https://vaultwarden.m00nlit.dev
            envFrom:
              - secretRef:
                  name: *app
            securityContext:
              readOnlyRootFilesystem: true
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  periodSeconds: 120
                  exec:
                    command:
                      - sh
                      - -c
                      - /healthcheck.sh
                  timeoutSeconds: 5
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 256Mi
                cpu: 100m
              limits:
                memory: 512Mi

    service:
      app:
        controller: *app
        ipFamilies: [IPv4]
        ports:
          http:
            port: 8087

    persistence:
      tmp:
        type: emptyDir
