---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
    name: external-dns
spec:
    interval: 5m
    layerSelector:
        mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
        operation: copy
    ref:
        tag: 1.19.0
    url: oci://ghcr.io/home-operations/charts-mirror/external-dns
    verify:
        provider: cosign
        matchOIDCIdentity:
            - issuer: "^https://token.actions.githubusercontent.com$"
              subject: "^https://github.com/home-operations/charts-mirror.*$"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: &app cloudflare-dns
spec:
    interval: 1h
    chartRef:
        kind: OCIRepository
        name: external-dns
    values:
        fullnameOverride: *app
        provider: cloudflare
        env:
            - name: CF_API_TOKEN
              valueFrom:
                  secretKeyRef:
                      name: &secret cloudflare-secret
                      key: api-token
        extraArgs:
            - --cloudflare-dns-records-per-page=1000
            - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
            - --crd-source-kind=DNSEndpoint
            - --gateway-label-filter=gateway==external
        triggerLoopOnEvent: true
        policy: sync
        sources: ["crd", "gateway-httproute", "service"]
        txtPrefix: k8s.
        txtOwnerId: default
        domainFilters: ["${SECRET_DOMAIN}"]
        serviceMonitor:
            enabled: true
        podAnnotations:
            secret.reloader.stakater.com/reload: *secret
