---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 12Ti
  storageClassName: ""
  volumeMode: Filesystem
  volumeName: storage-zfs-media
