---
autoDirectNodeRoutes: true

bandwidthManager:
  bbr: true
  enabled: true

bpf:
  datapathMode: netkit
  distributedLRU:
    enabled: true
  #  mapDynamicSizeRatio: 0.08
  masquerade: true
  preallocateMaps: true

bpfClockProbe: true

cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup

cni:
  exclusive: true

dashboards:
  enabled: true

devices: lan0
enableIPv4BIGTCP: true
enableIPv6BIGTCP: true
enableIPv6Masquerade: true

endpointRoutes:
  enabled: true

envoy:
  prometheus:
    serviceMonitor:
      enabled: true
  rollOutPods: true

gatewayAPI:
  enabled: false
  enableAlpn: true
  xffNumTrustedHops: 1

hubble:
  enabled: true
  tls:
    auto:
      method: certmanager
      certManagerIssuerRef:
        group: cert-manager.io
        kind: Issuer
        name: hubble-ca
  ui:
    enabled: true
  relay:
    enabled: true

ipam:
  mode: kubernetes
#  mode: cluster-pool
#  operator:
#    clusterPoolIPv4MaskSize: 24
#    clusterPoolIPv4PodCIDRList:
#      - 10.42.0.0/16
#    clusterPoolIPv6MaskSize: 64
#    clusterPoolIPv6PodCIDRList:
#      - 2001:cafe:42::/56

ipv4:
  enabled: true
ipv4NativeRoutingCIDR: "10.42.0.0/16"

ipv6:
  enabled: true
ipv6NativeRoutingCIDR: "2001:cafe:42::/56"

k8s:
  requireIPv4PodCIDR: false
  requireIPv6PodCIDR: true

k8sServiceHost: "::1"
k8sServicePort: 6444

kubeProxyReplacement: true
#kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

l2announcements:
  enabled: false

loadBalancer:
  algorithm: maglev
  mode: dsr

localRedirectPolicy: true

nodeSelectorLabels: true

nodeIPAM:
  enabled: true

operator:
  dashboards:
    enabled: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  replicas: 1
  rollOutPods: true

policyAuditMode: false
policyEnforcementMode: default

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true

rollOutCiliumPods: true
routingMode: native

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

# Needed for Tailscale operator
socketLB:
  hostNamespaceOnly: true
