---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: agentgateway
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v2.2.0
  url: oci://ghcr.io/kgateway-dev/charts/agentgateway
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app agentgateway
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controller:
      priorityClassName: envoy-gateway-priority

      extraEnv:
        KGW_ENABLE_GATEWAY_API_EXPERIMENTAL_FEATURES: true
