---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rssflow
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/m00nwtchr/rssflow
              tag: master@sha256:004b18a6b63a83e88b08fa1c8f6eaca1d608dc17f96ac313466f9e7b41b50cad
            env:
              RUST_LOG: "info"
              REDIS_URL: redis://dragonfly.database.svc/10
              POSTGRES_URL:
                valueFrom:
                  secretKeyRef:
                    name: "{{ .Release.Name }}-postgres"
                    key: url
            probes: &probes
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  grpc:
                    port: &port 50051
                  #                  service: ""
                  initialDelaySeconds: 5
                  periodSeconds: 10
              readiness: *probe
            resources:
              requests:
                cpu: 50m
                memory: 50Mi

      websub:
        containers:
          app: &container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-websub
              tag: master@sha256:7e563e2b7da5a8f62689df93cd6ab353feee204c9398b440e7f1b1e954eb2356
            env: &svc-env
              RUST_LOG: "info"
              REDIS_URL: redis://dragonfly.database.svc/10
              POSTGRES_URL: postgresql://rssflow@pooler-rw.postgres.svc/rssflow-websub?sslmode=verify-full&sslcert=/var/run/secrets/postgresql/tls.crt&sslkey=/var/run/secrets/postgresql/tls.key&sslrootcert=/var/run/secrets/root-ca/ca.crt
            probes: *probes
            resources:
              requests:
                cpu: 50m
                memory: 50Mi

      fetch:
        pod: &node-pod
          labels:
            app.kubernetes.io/component: node
        containers:
          app:
            <<: *container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-fetch
              tag: master@sha256:bee403debd991e7e9a92942164adec683358b60ba66d3703e24df1ba1df92e1e
            env:
              <<: *svc-env
              SERVICE_URL: http://rssflow-fetch:50051/

      filter:
        pod: *node-pod
        containers:
          app:
            <<: *container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-filter
              tag: master@sha256:0b0af9671fea7a96e01b258f765f268d94ef7f07686feb2145642a8bdfab15f2
            env:
              <<: *svc-env
              SERVICE_URL: http://rssflow-filter:50051/

      replace:
        pod: *node-pod
        containers:
          app:
            <<: *container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-replace
              tag: master@sha256:b6c4c03b5dab22e93f13fb788b6f1de8f5be5814489d7fdc3a44156a6b091f7b
            env:
              <<: *svc-env
              SERVICE_URL: http://rssflow-replace:50051/

      retrieve:
        pod: *node-pod
        containers:
          app:
            <<: *container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-retrieve
              tag: master@sha256:13c5696f48f0829edcd4fe5d2219047eed6c4508b397f9ad4dd51a2a044d90b7
            env:
              <<: *svc-env
              SERVICE_URL: http://rssflow-retrieve:50051/

      sanitize:
        pod: *node-pod
        containers:
          app:
            <<: *container
            image:
              repository: ghcr.io/m00nwtchr/rssflow-sanitize
              tag: master@sha256:806d03e5490b3968de08eb9eedb8ab81772b6abf7b3f1189d3722dcca63f7d0c
            env:
              <<: *svc-env
              SERVICE_URL: http://rssflow-sanitize:50051/

    #    rbac:
    #      roles:
    #        rssflow:
    #          type: ClusterRole
    #          rules:
    #            - apiGroups:
    #                - ""
    #              resources:
    #                - services
    #              verbs:
    #                - get
    #                - list
    #                - watch
    #            - apiGroups:
    #                - discovery.k8s.io
    #              resources:
    #                - endpointslices
    #              verbs:
    #                - get
    #                - list
    #                - watch
    #
    #      bindings:
    #        rssflow:
    #          type: ClusterRoleBinding
    #          roleRef:
    #            identifier: rssflow
    #          subjects:
    #            - identifier: rssflow
    #
    #    serviceAccount:
    #      rssflow: { }

    service:
      rssflow:
        controller: rssflow
        ports:
          http:
            port: 80
            targetPort: 3434
          grpc:
            port: *port

      websub:
        controller: websub
        ports:
          http:
            port: 80
            targetPort: 3435
          grpc:
            port: *port

      fetch: &svc
        controller: fetch
        publishNotReadyAddresses: true
        ports:
          grpc:
            port: *port

      filter:
        <<: *svc
        controller: filter

      replace:
        <<: *svc
        controller: replace

      retrieve:
        <<: *svc
        controller: retrieve

      sanitize:
        <<: *svc
        controller: sanitize

    route:
      websub:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /websub/
            backendRefs:
              - identifier: websub
                port: 80
