---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dawarich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app: &bapp
            image:
              repository: mirror.gcr.io/freikin/dawarich
              tag: 0.34.2@sha256:7219a71e00f53168028796e17289c22ac734f61bd0457ab55f106dae039214a8
            env:
              # RAILS_ENV: production
              RAILS_ENV: development
              TIME_ZONE: "${TZ}"
              REDIS_URL: redis://dragonfly.database.svc
              APPLICATION_HOSTS: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              APPLICATION_PROTOCOL: http
              MIN_MINUTES_SPENT_IN_CITY: 60
              DISTANCE_UNIT: km
              ROMETHEUS_EXPORTER_ENABLED: false
              PROMETHEUS_EXPORTER_HOST: 0.0.0.0
              PROMETHEUS_EXPORTER_PORT: 9394
              ENABLE_TELEMETRY: false # More on telemetry: https://dawarich.app/docs/tutorials/telemetry
              SELF_HOSTED: "true"

              DATABASE_HOST: postgres-rw.postgres.svc.cluster.local
              DATABASE_NAME: *app
              DATABASE_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: postgres-${APP}
                    key: username

              PGSSLROOTCERT: /var/run/secrets/postgresql/ca.crt
              PGSSLCERT: /var/run/secrets/postgresql/tls.crt
              PGSSLKEY: /var/run/secrets/postgresql/tls.key
              PGSSLMODE: verify-full
            resources:
              requests:
                memory: "1Gi"
                cpu: "250m"
              limits:
                memory: "3Gi"
            command:
              - "web-entrypoint.sh"
            args:
              - "bin/rails server -p 3000 -b ::"
          sidekick:
            <<: *bapp
            command:
              - "sidekiq-entrypoint.sh"
            args:
              - "bundle exec sidekiq"
            resources:
              requests:
                memory: "1Gi"
                cpu: "250m"
              limits:
                memory: "3Gi"

    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
            targetPort: 3000

    route:
      app:
        hostnames: [ "{{ .Release.Name }}.${SECRET_DOMAIN}" ]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Dawarich
          gethomepage.dev/icon: google-maps.png
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
