---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        strategy: Recreate

        initContainers:
          coredns:
            image:
              repository: mirror.gcr.io/coredns/coredns
              tag: 1.14.1@sha256:82b57287b29beb757c740dbbe68f2d4723da94715b563fffad5c13438b71b14a
            args:
              - -conf
              - /etc/coredns/Corefile
            restartPolicy: Always
          gluetun:
            dependsOn:
              - coredns
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            restartPolicy: Always
            env:
              DOT: "off"
              DNS_ADDRESS: 127.0.0.2
              # HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              VPN_PORT_FORWARDING: on
              FIREWALL_INPUT_PORTS: "8080,9999" # webui, healthcheck
              HEALTH_SERVER_ADDRESS: ":9999"
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/24,10.43.0.0/16
            envFrom:
              - secretRef:
                  name: *app
            lifecycle:
              postStart:
                exec:
                  command:
                    - "/bin/sh"
                    - "-c"
                    - "(ip rule del table 51820; ip -6 rule del table 51820) || true"
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec: &probeSpec
                  exec:
                    command: ["/gluetun-entrypoint", "healthcheck"]
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  <<: *probeSpec
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              capabilities: { add: ["NET_ADMIN"] }
              allowPrivilegeEscalation: false
            resources:
              limits:
                squat.ai/tun: "1"

        containers:
          *app :
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: ${TZ}
              QBT_WEBUI_PORT: &port 8080
            securityContext: &ctx
              runAsNonRoot: true
              runAsUser: &uid 2000
              runAsGroup: *uid
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 34m
                memory: 286Mi
              # limits:
              #   memory: 286Mi

          port-forward:
            image:
              repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              tag: 0.0.4@sha256:14ce24f2e054abf06f695f35c8c33612e49d6d0fe80a33896403d85b09a9d329
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 100Mi
            env:
              GLUETUN_CONTROL_SERVER_HOST: localhost
              GLUETUN_CONTROL_SERVER_PORT: 8000
              # GLUETUN_CONTROL_SERVER_API_KEY:
              #   valueFrom:
              #     secretKeyRef:
              #       name: *app
              #       key: GLUETUN_CONTROL_SERVER_API_KEY
              QBITTORRENT_HOST: localhost
              QBITTORRENT_WEBUI_PORT: *port
              CRON_ENABLED: true
              CRON_SCHEDULE: "*/5 * * * *"
              LOG_TIMESTAMP: false
            securityContext: *ctx

    defaultPodOptions:
      securityContext:
        fsGroup: *uid
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        forceRename: *app
        primary: true
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: 80
            targetPort: *port

    route:
      app:
        forceRename: *app
        hostnames: &host
          - qb.${SECRET_DOMAIN}
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/icon: ${APP}.svg
          gethomepage.dev/widget.type: *app
          gethomepage.dev/widget.url: "http://${APP}.media.svc"
          gethomepage.dev/widget.username: '{{ "{{HOMEPAGE_VAR_QBIT_USERNAME}}" }}'
          gethomepage.dev/widget.password: '{{ "{{HOMEPAGE_VAR_QBIT_PASSWORD}}" }}'
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

      api:
        hostnames: *host
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - identifier: app
                port: 80

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          *app :
            *app :
              - path: /config

      # downloads:
      #   size: 100Gi
      #   accessMode: ReadWriteMany
      #   storageClass: zfs-rpool
      #   forceRename: downloads

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media/downloads
            subPath: downloads

      coredns:
        type: configMap
        name: qbittorrent-coredns-configmap
        advancedMounts:
          *app :
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile

      # gluetun:
      #   type: secret
      #   name: gluetun-secret
      #   advancedMounts:
      #     *app :
      #       gluetun:
      #         - path: *gluetunAuthPath
      #           subPath: auth.toml

      tmp:
        type: emptyDir

      empty-config:
        type: emptyDir
        advancedMounts:
          *app :
            port-forward:
              - path: /config
