---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        type: cronjob
        cronjob:
          schedule: 0 0 * * *
          backoffLimit: 0
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1
          ttlSecondsAfterFinished: 86400

        pod:
          restartPolicy: Never
          annotations:
            k8s.ksgate.org/sonarr-ready: |
              {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "name": "sonarr",
                "expression": "resource.status.readyReplicas >= 1"
              }
            k8s.ksgate.org/radarr-ready: |
              {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "name": "radarr",
                "expression": "resource.status.readyReplicas >= 1"
              }
          schedulingGates:
            - name: k8s.ksgate.org/sonarr-ready
            - name: k8s.ksgate.org/radarr-ready

        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.4.1@sha256:759540877f95453eca8a26c1a93593e783a7a824c324fbd57523deffb67f48e1
            env:
              SONARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-secret
                    key: api_key
              RADARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: radarr-secret
                    key: api_key
            args: ["sync"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      config:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yaml

      data:
        existingClaim: *app
        globalMounts:
          - path: /config/

      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /config/logs
            subPath: logs
          - path: /config/repositories
            subPath: repositories
