---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sonarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
            env:
              SONARR__APP__INSTANCENAME: Sonarr
              SONARR__LOG__LEVEL: info

              SONARR__AUTH__APIKEY:
                valueFrom:
                  secretKeyRef:
                    name: ${APP}-secret
                    key: api_key
              SONARR__AUTH__METHOD: External
              SONARR__LOG__ANALYTICSENABLED: "False"
              SONARR__LOG__DBENABLED: "False"

              SONARR__POSTGRES__HOST: pooler-rw.postgres.svc
              SONARR__POSTGRES__USER: *app
              SONARR__POSTGRES__MAINDB: *app
              SONARR__POSTGRES__PASSWORD: *app
              PGSSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              PGSSLCERT: /var/run/secrets/postgresql/tls.crt
              PGSSLKEY: /var/run/secrets/postgresql/tls.key
              PGSSLMODE: verify-full

              SONARR__SERVER__PORT: &port 8989
              SONARR__UPDATE__BRANCH: develop
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 384Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            targetPort: *port
            port: 80

    route:
      app:
        forceRename: *app
        hostnames: [&host "{{ .Release.Name }}.${SECRET_DOMAIN}"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Sonarr
          gethomepage.dev/icon: ${APP}.svg
          gethomepage.dev/widget.type: *app
          gethomepage.dev/widget.url: "http://${APP}.media.svc"
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_${APP}_API_KEY}}" }}'
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

      api:
        hostnames: [*host]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            backendRefs:
              - identifier: app
                port: 80
            timeouts:
              request: "300s"

    persistence:
      config:
        size: 1Gi
        accessMode: ReadWriteOnce

      # downloads:
      #   existingClaim: downloads

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media

      cache:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /config/logs
            subPath: logs
