---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
  namespace: &namespace default
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  #  dependsOn:
  #    - name: rook-ceph-cluster
  #      namespace: rook-ceph
  components:
    - ../../../../components/oidc
    - ../../../../components/database
    - ../../../../components/dragonfly
    - ../../../../components/gatus/guarded
  interval: 1h
  path: ./kubernetes/apps/default/paperless/app
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_CAPACITY: 1Gi
      OIDC_DISPLAY_NAME: "Paperless"
      OIDC_CALLBACK: /accounts/oidc/kanidm/login/callback/
      OIDC_IMAGE_NAME: paperless-ngx
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
