---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: trivy-operator
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.31.0
  url: oci://ghcr.io/aquasecurity/helm-charts/trivy-operator
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trivy-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    serviceMonitor:
      enabled: true
    trivy:
      ignoreUnfixed: true
      server:
        # krr: controller=trivy-server container=trivy-server
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
            # ephemeral-storage: "2Gi"
          limits:
            cpu: 1
            memory: 1Gi
    service:
      headless: false
    operator:
      builtInTrivyServer: true

    # krr: controller=trivy-operator container=trivy-operator
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
