---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: photos
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 60Gi
  storageClassName: ""
  volumeMode: Filesystem
  volumeName: storage-zfs-photos
