---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/oidc
    - ../../../../components/database
    - ../../../../components/dragonfly
    - ../../../../components/gatus/guarded
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: *app
      namespace: *namespace
  interval: 1h
  path: ./kubernetes/apps/media/immich/app
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      SUBDOMAIN: photos
      DATABASE_EXTENSIONS: |
        [
          { name: vector },
          { name: vchord },
          { name: cube },
          { name: earthdistance }
        ]
      OIDC_DISPLAY_NAME: "Immich"
      OIDC_CALLBACK: /auth/login
      OIDC_EXTRA_CALLBACKS: '["app.immich:///oauth-callback", "https://photos.m00nlit.dev/user-settings"]'
      OIDC_LEGACY_CRYPTO: "true"
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
