---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: qdrant
spec:
  interval: 1h
  url: https://qdrant.github.io/qdrant-helm
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qdrant
spec:
  interval: 1h
  chart:
    spec:
      chart: qdrant
      version: 1.15.4
      sourceRef:
        kind: HelmRepository
        name: qdrant
        namespace: ai
  values:
    config:
      service:
        host: "::"

    metrics:
      serviceMonitor:
        enabled: true
