---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kavita
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.9@sha256:1f2acae7466d022f037ea09f7989eb7c487f916b881174c7a6de33dbfa8acb39
            env:
              TZ: "${TZ}"
            resources:
              requests:
                cpu: 214m
                memory: 300Mi
                # memory: 2358Mi
              limits:
                # memory: 1Gi

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: 5000

    route:
      app:
        hostnames: ["kavita.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
          - name: internal
            namespace: network

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /kavita/config

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media/books
            subPath: books
