---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/toolhive.stacklok.dev/mcpserver_v1alpha1.json
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name karakeep
spec:
  image: ghcr.io/karakeep-app/karakeep-mcp:latest@sha256:7ec8e44c08af30581007d320b0bc116c0138b710823bfd6bc9b515b350e7f1c5
  transport: stdio
  groupRef: mcp-tools
  env:
    - name: KARAKEEP_API_ADDR
      value: http://karakeep.default.svc.cluster.local
  secrets:
    - name: *name
      key: KARAKEEP_API_KEY
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
