---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/toolhive.stacklok.dev/mcpserver_v1alpha1.json
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPServer
metadata:
  name: &name searxng
spec:
  # Temporary local image until dockyard PR merges:
  # https://github.com/stacklok/dockyard/pull/362
  image: ghcr.io/rcdailey/mcp-searxng:0.8.0@sha256:5f4359be5f43b3bb77daabc60884dcd8c1d05a3c0b761ad78730da8453a660a2
  transport: stdio
  groupRef: mcp-tools
  env:
    - name: SEARXNG_URL
      value: http://searxng.default.svc.cluster.local
  toolConfigRef:
    name: *name
  # krr: controller=searxng container=toolhive
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/toolhive.stacklok.dev/mcptoolconfig_v1alpha1.json
apiVersion: toolhive.stacklok.dev/v1alpha1
kind: MCPToolConfig
metadata:
  name: searxng
spec:
  toolsOverride:
    searxng_web_search:
      name: web_search
