---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qui
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/qui
              tag: develop@sha256:586a21973a8c59256290652527c73d0f9a87b939105ffbf0a4f8942eb4fe8551
            env:
              TZ: "${TZ}"
              QUI__HOST: "[::]"
              QUI__PORT: &port 8080

              QUI__OIDC_ENABLED: "true"
              QUI__OIDC_ISSUER: https://idm.${SECRET_DOMAIN}/oauth2/openid/${APP}
              QUI__OIDC_CLIENT_ID: ${APP}
              QUI__OIDC_CLIENT_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: kanidm-${APP}-oidc
                    key: client-secret
              QUI__OIDC_REDIRECT_URL: https://${APP}.${SECRET_DOMAIN}/api/auth/oidc/callback
              QUI__OIDC_DISABLE_BUILT_IN_LOGIN: "true"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 102Mi
              limits:
                memory: 102Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: *port

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media/
