---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:ba5525329febd0b7b56db3bdf8a0316f97059578f804ff2e1d3d97694c3b1515

  certificates:
    serverTLSSecret: postgres-serving-cert
    serverCASecret: postgres-serving-cert
    clientCASecret: postgres-client-ca
    replicationTLSSecret: postgres-replication-cert

  storage:
    size: 8Gi

  bootstrap:
    recovery:
      source: &src source

  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store garage-store

  externalClusters:
    - name: *src
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: postgres

  monitoring:
    enablePodMonitor: true

  postgresql:
    pg_hba:
      - hostnossl all all 10.42.0.0/16      scram-sha-256
      - hostnossl all all 2001:cafe:42::/56 scram-sha-256
      - hostssl   all all all               cert clientcert=verify-full
    shared_preload_libraries:
      - "vchord.so"
      - "timescaledb"
    parameters:
      timescaledb.telemetry_level: "off"
      max_locks_per_transaction: "128"

    extensions:
      - name: postgis
        ld_library_path:
          - system
        image:
          reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib
        extension_control_path:
          - /usr/share/postgresql/18/
      - name: timescaledb
        image:
          reference: ghcr.io/shusaan/timescaledb-testing:2.23.1-18-trixie@sha256:4709935bed4cce5977bc4b1858a94e2e80f22f0303217163a9e97b8898e33ee2

  managed:
    roles:
      - name: attic
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: atuin
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: autobrr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: baikal
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: baikal-postgres

      - name: bazarr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: blocky
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: dawarich
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: dispatcharr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: firefly
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: forgejo
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: freshrss
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: grafana-read
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: hass
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: immich
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: jellyseerr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: litellm
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: maubot
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: mautrix-discord
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: mautrix-meta
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: mealie
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: n8n
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: open-webui
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: paperless
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: pinepods
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: pinepods-postgres

      - name: prowlarr
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: prowlarr-postgres

      - name: radarr
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: radarr-postgres

      - name: rssflow
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: sonarr
        ensure: present
        login: true
        superuser: false
        passwordSecret:
          name: sonarr-postgres

      - name: vaultwarden
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: vikunja
        ensure: present
        login: true
        superuser: false
        disablePassword: true
