# ---
# # yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/postgresql.cnpg.io/pooler_v1.json
# apiVersion: postgresql.cnpg.io/v1
# kind: Pooler
# metadata:
#   name: pooler-rw
# spec:
#   cluster:
#     name: postgres

#   instances: 1
#   type: rw
#   pgbouncer:
#     poolMode: transaction
#     parameters:
#       max_client_conn: "1000"
#       default_pool_size: "5"
#       reserve_pool_size: "2"

#       max_db_connections: "60"
#       max_user_connections: "20"

#       # timeouts / hygiene
#       server_idle_timeout: "300" # close idle server conns after 5m
#       server_login_retry: "5"
#       query_wait_timeout: "5" # drop queued client if no server in 5s

#       application_name_add_host: "1" # helps tracing through the pool

#   monitoring:
#     enablePodMonitor: true
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/postgresql.cnpg.io/pooler_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: pooler-rw
spec:
  cluster:
    name: postgres

  instances: 1
  type: rw
  pgbouncer:
    poolMode: session

    authQuery: "SELECT $1, NULL"
    serverCASecret:
      name: postgres-client-cert
    serverTLSSecret:
      name: pooler-client-cert
    clientCASecret:
      name: pooler-client-cert
    clientTLSSecret:
      name: pooler-server-cert

    parameters:
      server_tls_protocols: tlsv1.3
      auth_type: cert
      server_tls_sslmode: verify-full
      client_tls_sslmode: verify-full
      max_client_conn: "1000"
      default_pool_size: "10"

  monitoring:
    enablePodMonitor: true
