---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: k8s-store-postgres-ns
spec:
  provider:
    kubernetes:
      remoteNamespace: postgres
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: postgres
          key: ca.crt
      auth:
        serviceAccount:
          name: eso-postgres
          namespace: postgres
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eso-postgres
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: read-secrets
rules:
  - apiGroups: [""]
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - authorization.k8s.io
    resources:
      - selfsubjectrulesreviews
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: bind-eso-postgres
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: read-secrets
subjects:
  - kind: ServiceAccount
    name: eso-postgres
    namespace: postgres
