---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-secret
              key: api-token
        selector:
          dnsZones: ["${SECRET_DOMAIN}"]
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production-shortlived
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    profile: shortlived
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-secret
              key: api-token
        selector:
          dnsZones: ["${SECRET_DOMAIN}"]
