---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: &app attic
spec:
    interval: 1h
    chartRef:
        kind: OCIRepository
        name: app-template
        namespace: flux-system
    values:
        #    defaultPodOptions:
        #      securityContext:
        #        runAsUser: 1000
        #        runAsGroup: 1000
        #        runAsNonRoot: true
        #        fsGroup: 1000
        #        fsGroupChangePolicy: "OnRootMismatch"

        controllers:
            *app :
                containers:
                    app:
                        image:
                            repository: ghcr.io/zhaofengli/attic
                            tag: main@sha256:18574aba70fc89d2b695273fbe2e7b2f8ad7e8e786b4cc535124fbe14bada1d0

                        env:
                            ATTIC_SERVER_DATABASE_URL:
                                valueFrom:
                                    secretKeyRef:
                                        name: "{{ .Release.Name }}-postgres"
                                        key: url
                        envFrom:
                            - secretRef:
                                  name: *app
        #            probes:
        #              liveness:
        #                enabled: true
        #                type: HTTP
        #              readiness:
        #                enabled: true
        #                type: HTTP
        #              startup:
        #                enabled: true
        #                type: HTTP
        #            resources:
        #              requests:
        #                memory: 250Mi
        #                cpu: 50m
        #              limits:
        #                memory: 500Mi

        service:
            app:
                controller: *app
                ports:
                    http:
                        port: 80
                        targetPort: 8080

        route:
            app:
                hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
                parentRefs:
                    - name: external
                      namespace: network
                      sectionName: https
                    - name: internal
                      namespace: network
                      sectionName: https
                rules:
                    - backendRefs:
                          - identifier: app
                            port: 80
                      timeouts:
                          request: "300s"

        persistence:
            config:
                type: configMap
                name: attic-configmap
                globalMounts:
                    - path: /var/empty/.config/attic/server.toml
                      subPath: server.toml
