auth:
  local:
    enabled: false
  openid:
    enabled: true
    redirecturl: https://vikunja.${CLUSTER_DOMAIN}/auth/openid
    providers:
      - name: Kanidm
        authurl: https://idm.${SECRET_DOMAIN}/oauth2/openid/${APP}
        clientid: ${APP}
        clientsecret: { { .client_secret } }
        scope: openid profile email
