---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lidarr
  namespace: &namespace media
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/oidc/envoy
    - ../../../../components/database
    - ../../../../components/gatus/guarded
  dependsOn:
    - name: envoy-gateway
      namespace: network
  interval: 1h
  path: ./kubernetes/apps/media/sonarr/app
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      OIDC_DISPLAY_NAME: Lidarr
      OIDC_GROUP: admins
      OIDC_SCOPES: '["openid", "profile"]'
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
