---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app karakeep
  namespace: &namespace default
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/oidc
    - ../../../../components/volsync
    - ../../../../components/gatus/guarded
  interval: 30m
  timeout: 5m
  path: ./kubernetes/apps/default/karakeep/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: volsync
      namespace: volsync-system
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      VOLSYNC_ACCESSMODES: ReadWriteMany
      OIDC_CALLBACK: /api/auth/callback/custom
      OIDC_LEGACY_CRYPTO: "true"
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
