---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app slskd
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          coredns:
            image:
              repository: mirror.gcr.io/coredns/coredns
              tag: 1.14.1@sha256:82b57287b29beb757c740dbbe68f2d4723da94715b563fffad5c13438b71b14a
            args:
              - -conf
              - /etc/coredns/Corefile
            restartPolicy: Always
          gluetun:
            dependsOn:
              - coredns
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            restartPolicy: Always
            env:
              DOT: "off"
              DNS_ADDRESS: 127.0.0.2
              # HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              VPN_PORT_FORWARDING: on
              FIREWALL_INPUT_PORTS: "8080,9999" # webui, healthcheck
              HEALTH_SERVER_ADDRESS: ":9999"
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/24,10.43.0.0/16
            envFrom:
              - secretRef:
                  name: qbittorrent
            lifecycle:
              postStart:
                exec:
                  command:
                    - "/bin/sh"
                    - "-c"
                    - "(ip rule del table 51820; ip -6 rule del table 51820) || true"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /check
                    port: 9999
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /check
                    port: 9999
                  initialDelaySeconds: 10
            securityContext:
              capabilities: { add: ["NET_ADMIN"] }
              allowPrivilegeEscalation: false
            resources:
              limits:
                squat.ai/tun: "1"

        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.3@sha256:bcf9820dab68e21d2bba8ebb1ffd583d71fcba542a50a1e998119f69b7b498fe
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              TZ: "${TZ}"
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 8080
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50429
              SLSKD_REMOTE_CONFIGURATION: "true"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              runAsNonRoot: true
              runAsUser: 2000
              runAsGroup: 2000
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi

        statefulset:
          volumeClaimTemplates:
            - name: config
              storageClass: zfs-spark
              accessMode: ReadWriteOnce
              size: 5Gi

    defaultPodOptions:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: 80
            targetPort: *port

      soulseek:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.69.127
        externalTrafficPolicy: Local
        ports:
          soulseek-tcp:
            port: *soulseekPort
            protocol: TCP

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 80

    configMaps:
      config:
        data:
          slskd.yml: |-
            directories:
              downloads: /mnt/media/downloads/soulseek/complete
              incomplete: /mnt/media/downloads/soulseek/incomplete
            permissions:
              file:
                mode: 750
            shares:
              directories:
                - /mnt/media/downloads/soulseek/shared
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$

    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media

      tmp:
        type: emptyDir

      coredns:
        type: configMap
        name: qbittorrent-coredns-configmap
        advancedMounts:
          *app :
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile
