---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: automation
components:
  - ../../components/common
resources:
  - ./home-assistant/ks.yaml
#  - ./openwakeword/ks.yaml
#  - ./n8n/ks.yaml
#  - ./piper/ks.yaml
#  - ./whisper/ks.yaml
