---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/admissionregistration.k8s.io/mutatingadmissionpolicybinding_v1alpha1.json
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: envoy-gateway-priorityclass
spec:
  policyName: envoy-gateway-priorityclass
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/admissionregistration.k8s.io/mutatingadmissionpolicy_v1alpha1.json
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicy
metadata:
  name: envoy-gateway-priorityclass
spec:
  matchConstraints:
    resourceRules:
      - apiGroups:
          - apps
        apiVersions:
          - v1
        operations:
          - CREATE
          - UPDATE
        resources:
          - deployments
  matchConditions:
    - name: has-proxy-component-labels
      expression: >-
        object.metadata.labels["app.kubernetes.io/component"] == "proxy"

    - name: has-envoy-managed-by-labels
      expression: >-
        object.metadata.labels["app.kubernetes.io/managed-by"] == "envoy-gateway"
  failurePolicy: Fail
  reinvocationPolicy: IfNeeded
  mutations:
    - patchType: JSONPatch
      jsonPatch:
        expression: >-
          [
            JSONPatch{
              op: "add", path: "/spec/template/spec/priorityClassName",
              value: "envoy-gateway-priority"
            }
          ]
