---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cross-seed
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: openebs
      namespace: openebs-system
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
          annotations:
            k8s.ksgate.org/qbittorrent-ready: |
              {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "name": "qbittorrent",
                "expression": "resource.status.readyReplicas >= 1"
              }
            k8s.ksgate.org/prowlarr-ready: |
              {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "name": "prowlarr",
                "expression": "resource.status.readyReplicas >= 1"
              }
          schedulingGates:
            - name: k8s.ksgate.org/qbittorrent-ready
            - name: k8s.ksgate.org/prowlarr-ready

        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
            args:
              - daemon
              - -v
            env:
              RADARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: radarr-secret
                    key: api_key
              SONARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: sonarr-secret
                    key: api_key
              PROWLARR_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: prowlarr-secret
                    key: api_key
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: 2468

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /config/

      # downloads:
      #   existingClaim: downloads

      config:
        type: configMap
        name: cross-seed-configmap
        globalMounts:
          - path: /config/config.js
            subPath: config.js

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media/
