---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    defaultPodOptions:
      securityContext:
        #        runAsUser: 1000
        #        runAsGroup: 1000
        #        #          runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    controllers:
      *app :
        type: statefulset
        statefulset:
          podManagementPolicy: Parallel

        containers:
          app:
            env:
              PAPERLESS_REDIS: redis://dragonfly.database.svc:6379/13
              PAPERLESS_DBHOST: pooler-rw.postgres.svc.cluster.local
              PGSSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              PGSSLCERT: /var/run/secrets/postgresql/tls.crt
              PGSSLKEY: /var/run/secrets/postgresql/tls.key
              PGSSLMODE: verify-full

              PAPERLESS_URL: https://{{ .Release.Name }}.${SECRET_DOMAIN}
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"

              PAPERLESS_OCR_LANGUAGE: pol
              PAPERLESS_OCR_LANGUAGES: pol

              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_ENDPOINT: http://tika.default.svc
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000

              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_DISABLE_REGULAR_LOGIN: 1
              PAPERLESS_REDIRECT_LOGIN_TO_SSO: 1
            envFrom:
              - secretRef:
                  name: paperless-env
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.3@sha256:57ad9565bff3bdf2378ab1dcc21ea649dfd68ee58e0eeca2bfba0120a26563e8
            probes:
              liveness:
                enabled: true
                type: HTTP
              readiness:
                enabled: true
                type: HTTP
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
                type: HTTP
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 40m
                memory: 1Gi

          gotenberg:
            env:
              DISABLE_GOOGLE_CHROME: "1"
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
            resources:
              limits:
                memory: 512Mi
              requests:
                cpu: 10m
                memory: 30Mi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
            targetPort: 8000

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Paperless
          gethomepage.dev/icon: paperless.svg
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80

    persistence:
      data:
        size: 1Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /usr/src/paperless/data

      media:
        existingClaim: paperless-media
        globalMounts:
          - path: /usr/src/paperless/media
            subPath: media
          - path: /usr/src/paperless/consume
            subPath: consume
