---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: forgejo
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 15.0.1
  url: oci://code.forgejo.org/forgejo-helm/forgejo
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app forgejo
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  valuesFrom:
    - kind: ConfigMap
      name: forgejo-values
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/containers/-
                value:
                  name: ssh-tpm-agent
                  image: ghcr.io/m00nwtchr/ssh-tpm-agent:0.8.0@sha256:a389051ca336af8477f26e07500b35e99cc221859a02d40c85ca72d7710e1066
                  imagePullPolicy: IfNotPresent
                  volumeMounts:
                    - mountPath: /var/tmp
                      name: temp
                  resources:
                    limits:
                      memory: 128Mi
                      squat.ai/tpmrm: 1