---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app anubis
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/techarohq/anubis
              tag: v1.24.0@sha256:4bdf6ddd1a8dc8bfe7a33d823a1cb72157885ca4fd3ee749654b21cba732e439
            env:
              BIND: ":8080"
              METRICS_BIND: ":9090"
              POLICY_FNAME: /config/botPolicy.yaml
              DIFFICULTY: "4"
              ED25519_PRIVATE_KEY_HEX:
                valueFrom:
                  secretKeyRef:
                    name: anubis-key
                    key: ED25519_PRIVATE_KEY_HEX
              SERVE_ROBOTS_TXT: "true"
              REDIRECT_DOMAINS: "*.${SECRET_DOMAIN}"
            probes:
              liveness:
                enabled: true
                type: HTTP
              readiness:
                enabled: true
                type: HTTP
              startup:
                enabled: true
                type: HTTP
            resources:
              limits:
                cpu: 750m
                memory: 256Mi
              requests:
                cpu: 250m
                memory: 256Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              seccompProfile:
                type: RuntimeDefault

    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
            targetPort: 8080

    persistence:
      config:
        type: configMap
        name: anubis-configmap
        globalMounts:
          - path: /config/botPolicy.yaml
            subPath: botPolicy.yaml
