---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: vm-k8s-stack
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.67.0
  url: oci://ghcr.io/victoriametrics/helm-charts/victoria-metrics-k8s-stack
  # TODO: Flux v2.8
  # verify:
  #   provider: cosign
  #   matchOIDCIdentity:
  #     - issuer: '^https://token.actions.githubusercontent.com$'
  #       subject: '^https://github.com/victoriametrics/helm-charts.*$'
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vmks
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: vm-k8s-stack
  dependsOn:
    - name: victoria-metrics-operator
  values:
    global:
      cluster:
        # -- K8s cluster domain suffix, uses for building storage pods' FQDN. Details are [here](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/)
        dnsDomain: cluster.local.
    nameOverride: *app

    victoria-metrics-operator:
      enabled: false

    defaultDashboards:
      enabled: true
      grafanaOperator:
        enabled: true
        spec:
          instanceSelector:
            matchLabels:
              dashboards: null
              grafana.internal/instance: grafana

    defaultDatasources:
      grafanaOperator:
        # -- Create datasources as CRDs (requires grafana-operator to be installed)
        enabled: true
        spec:
          instanceSelector:
            matchLabels:
              dashboards: null
              grafana.internal/instance: grafana

    grafana:
      enabled: false

    defaultRules:
      create: true

    alertmanager:
      enabled: false
      spec:
        configReloaderExtraArgs:
          enableTCP6: "true"
        externalURL: https://alertmanager.${SECRET_DOMAIN}
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi

    vmalert:
      enabled: false
      spec:
        extraArgs:
          enableTCP6: "true"
        configReloaderExtraArgs:
          enableTCP6: "true"

    vmsingle:
      spec:
        extraArgs:
          enableTCP6: "true"
          maxLabelsPerTimeseries: "40"
          search.maxUniqueTimeseries: "600000"
          search.minStalenessInterval: 5m
        replicaCount: 1
        retentionPeriod: 30d
        storage:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 60Gi
        useDefaultResources: false
        useStrictSecurity: true
        resources:
          limits:
            memory: 2Gi
            cpu: 1
          requests:
            cpu: 100m

    vmagent:
      spec:
        extraArgs:
          enableTCP6: "true"
        configReloaderExtraArgs:
          enableTCP6: "true"
        resources:
          limits:
            cpu: 2000m
            memory: 1Gi
        selectAllByDefault: true
        scrapeInterval: 20s

    prometheus-node-exporter:
      enabled: true
      fullnameOverride: node-exporter

    kube-state-metrics:
      enabled: true
      fullnameOverride: kube-state-metrics

    kubelet:
      enabled: true

    kubeApiServer:
      enabled: true

    kubeControllerManager:
      enabled: true
      service:
        selector:
          component: kube-apiserver # Selects controller node IPs
      vmScrape:
        spec:
          endpoints:
            - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
              port: http-metrics
              scheme: https
              tlsConfig:
                insecureSkipVerify: true

    kubeEtcd:
      enabled: true
      service:
        selector:
          component: kube-apiserver # Selects controller node IPs
        port: 2381
        targetPort: 2381
      vmScrape:
        spec:
          endpoints:
            - scheme: http

    kubeScheduler:
      enabled: false

    kubeProxy:
      enabled: false

    coreDns:
      enabled: true
