---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: tofu-controller
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.16.0-rc.7
  url: oci://ghcr.io/flux-iac/charts/tofu-controller
  # verify:
  #   provider: cosign
  #   matchOIDCIdentity:
  #     - issuer: '^https://token.actions.githubusercontent.com$'
  #       subject: '^https://github.com/flux-iac/tofu-controller.*$'
---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tofu-controller
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    fullnameOverride: *app
    replicaCount: 1
    runner:
      image:
        repository: ghcr.io/home-operations/opentofu-runner
        tag: 1.11.3@sha256:8e1ae8d223b986ca784f3ed1d5ed520c33b7c379484f6f3be6d89012c115f223
      grpc:
        maxMessageSize: 30
    logLevel: info
    allowBreakTheGlass: false
    allowCrossNamespaceRefs: true
    usePodSubdomainResolution: true
    clusterDomain: cluster.local
    concurrency: 24
    caCertValidityDuration: 24h
    certRotationCheckFrequency: 30m
    resources:
      limits:
        cpu: 1000m
        memory: 2Gi
      requests:
        cpu: 400m
        memory: 64Mi
