---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tqm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        type: cronjob
        cronjob:
          schedule: "@hourly"
          timeZone: ${TZ}
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1

        pod:
          annotations:
            k8s.ksgate.org/qbittorrent-ready: |
              {
                "apiVersion": "apps/v1",
                "kind": "StatefulSet",
                "name": "qbittorrent",
                "expression": "resource.status.readyReplicas >= 1"
              }
          schedulingGates:
            - name: k8s.ksgate.org/qbittorrent-ready

        initContainers:
          retag: &container
            image:
              repository: ghcr.io/home-operations/tqm
              tag: 1.17.0@sha256:05b62239063ad1e884f2254532e3dc9b60cff08870112dca244af328d761be0d
            args:
              - retag
              - qb
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

        containers:
          clean:
            <<: *container
            args:
              - clean
              - qb

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65537]

    persistence:
      config:
        type: configMap
        name: "tqm-configmap"
        globalMounts:
          - path: /.config/tqm/config.yaml
            subPath: config.yaml

      media:
        existingClaim: media
        globalMounts:
          - path: /mnt/media
            readOnly: true

      data:
        type: emptyDir
        globalMounts:
          - path: /.config/tqm
