---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/gateway.envoyproxy.io/httproutefilter_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: HTTPRouteFilter
metadata:
  name: well-known-matrix-client
spec:
  directResponse:
    contentType: application/json
    statusCode: 200
    body:
      type: ValueRef
      valueRef:
        group: ""
        kind: ConfigMap
        name: conduit-configmap
