---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/gateway.networking.k8s.io/backendtlspolicy_v1alpha3.json
apiVersion: gateway.networking.k8s.io/v1alpha3
kind: BackendTLSPolicy
metadata:
  name: kanidm-upstream
spec:
  targetRefs:
    - kind: Service
      name: kanidm
      group: ""
  validation:
    wellKnownCACertificates: System
    hostname: idm.${SECRET_DOMAIN}
