---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/operator.tekton.dev/tektonconfig_v1alpha1.json
apiVersion: operator.tekton.dev/v1alpha1
kind: TektonConfig
metadata:
  name: config
spec:
  profile: basic
  targetNamespace: tekton-pipelines
  pruner:
    resources:
      - pipelinerun
      - taskrun
    keep: 100
    schedule: "0 8 * * *"
