---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: openebs
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.4.0
  url: oci://ghcr.io/home-operations/charts-mirror/openebs
  verify:
    provider: cosign
    matchOIDCIdentity:
      - issuer: "^https://token.actions.githubusercontent.com$"
        subject: "^https://github.com/home-operations/charts-mirror.*$"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openebs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  #  install:
  #    disableHooks: true
  #  upgrade:
  #    disableHooks: true
  values:
    openebs-crds:
      csi:
        volumeSnapshots:
          # CRDs deployed by snapshot-controller
          enabled: false

    localpv-provisioner:
      localpv:
        image:
          registry: quay.io/
      #        basePath: &hostPath /var/mnt/extra/openebs/local
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
      #        basePath: *hostPath
      helperPod:
        image:
          registry: quay.io/

    zfs-localpv:
      enabled: true

    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: true
      replicated:
        mayastor:
          enabled: false

    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false
