---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
    name: k8s-store-default-ns
spec:
    provider:
        kubernetes:
            remoteNamespace: default
            server:
                caProvider:
                    type: ConfigMap
                    name: kube-root-ca.crt
                    namespace: default
                    key: ca.crt
            auth:
                serviceAccount:
                    name: eso-default
                    namespace: default
---
apiVersion: v1
kind: ServiceAccount
metadata:
    name: eso-default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
    name: read-secrets
rules:
    - apiGroups: [""]
      resources:
          - secrets
      verbs:
          - get
          - list
          - watch
    - apiGroups:
          - authorization.k8s.io
      resources:
          - selfsubjectrulesreviews
      verbs:
          - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
    name: bind-eso-default
roleRef:
    apiGroup: rbac.authorization.k8s.io
    kind: Role
    name: read-secrets
subjects:
    - kind: ServiceAccount
      name: eso-default
      namespace: default
