---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vernemq
  namespace: &namespace database
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/oidc/envoy
    - ../../../../components/tls
  interval: 1h
  retryInterval: 2m
  path: ./kubernetes/apps/database/vernemq/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      NAMESPACE: *namespace
      TLS_SUBDOMAIN: mqtt
      OIDC_DISPLAY_NAME: VerneMQ
      OIDC_GROUP: admins
      OIDC_SCOPES: '["openid", "profile"]'
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
